<div class="add-folder">
	<h3>Destino do Backup</h3>
	<p>Adicione as pastas onde deseja salvar o backup</p>
	<button (click)="addDestino()" type="button" class="select-folder-button">
		<span class="icon">📁</span> Selecionar Pasta
	</button>
</div>

<div class="config-row" *ngFor="let destino of destinos; let i = index">
	<div class="config-item">
		<p class="folder-path">{{ destino.path }}</p>
		<button type="button" class="delete-button" (click)="removeDestino(i)">
			<span class="icon">🗑️</span>
		</button>
	</div>
</div>

<button type="button" class="save-config-button" (click)="saveDestinos()">
	<span class="icon">💾</span> Salvar
</button>
