<!-- src/app/aliases/aliases.component.html -->
<app-menu></app-menu>
<div class="p-3">
    <div class="row">
        <!-- Coluna para Aliases -->
        <div class="col-6">
            <div class="config-row">
                <div class="config-item">
                    <p>IP: 192.168.0.1</p>
                    <p>Alias: Servidor1</p>
                    <button>
                        <span class="icon">❌</span>
                    </button>
                </div>
            </div>
            <div class="add-config">
                <div>
                    <input id="newIp" placeholder="IP" />
                </div>
                <div>
                    <input id="newAlias" placeholder="Alias" />
                </div>
                <button (click)="addConfig()">
                    <span class="icon">💾</span> Adicionar
                </button>
            </div>
        </div>
        <!-- Coluna para Diretórios de Backup -->
        <div class="col-6">
            <div class="add-folder">
                <button (click)="selectDirectory()">
                    <span class="icon">📁</span> Selecionar Pasta
                </button>
            </div>
            <p *ngIf="selectedDirectory">Pasta selecionada: {{ selectedDirectory }}</p>
        </div>
    </div>
    <div class="save-config-container">
        <button class="save-config-button">
            <span class="icon">💾</span> Salvar
        </button>
    </div>
</div>