/* src/app/aliases/aliases.component.scss */
@import '../../styles.scss';

.save-config-button {
    @include button-styles($success-color, $success-hover-color);
    white-space: nowrap;
}

.config-item button {
    @include button-styles($danger-color, $danger-hover-color);
    white-space: nowrap;
}

.add-config button {
    @include button-styles($secondary-color, $secondary-hover-color);
    white-space: nowrap;
}

.add-folder button {
    @include button-styles($secondary-color, $secondary-hover-color);
    white-space: nowrap;
}

.config-item {
    display: flex;
    align-items: center;
    padding: 4px;
    border: 1px solid $border-color;
    border-radius: 6px;
    margin-bottom: 8px;
    flex: 1 1 calc(50% - 10px);
    p {
        font-size: 16px;
    }
}

.config-item p {
    margin: 0;
    flex: 1;
}

.add-config {
    > div {
        padding-bottom: 8px;
    }
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.add-config label {
    margin-bottom: 0;
}

.add-config input {
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: 4px;
}

.backup-container {
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.backup-header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.backup-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.backup-button {
    @include button-styles($primary-color, $hover-color);
    white-space: nowrap;
}

.add-folder {
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.add-folder label {
    margin-bottom: 0;
}

.add-folder input {
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: 4px;
}

.save-config-button {
    background-color: $success-color;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s;
    position: fixed;
    bottom: 10px;
    right: 10px;
    &:hover {
        background-color: $success-hover-color;
    }

    .icon {
        font-size: 18px;
    }
}

.input-field {
    width: 100%; /* Ajuste o valor conforme necessário */
    padding: 10px; /* Ajuste o valor conforme necessário */
    border: 1px solid $border-color;
    border-radius: 4px;
    font-size: 16px; /* Ajuste o valor conforme necessário */
}
.delete-button {
    padding: 2px 2px; /* Ajuste o valor conforme necessário */
    font-size: 12px; /* Ajuste o valor conforme necessário */
    border-radius: 4px;
}