<!-- src/app/aliases/aliases.component.html -->
<app-menu></app-menu>
<div class="p-5">
    <div class="row">
        <div class="col-5">
            <h3>Aliases BKP Firebird</h3>
            <div class="add-config">
                <div>
                    <input id="newIp" placeholder="IP" [(ngModel)]="newIp" class="input-field" />
                </div>
                <div>
                    <input id="newAlias" placeholder="Alias" [(ngModel)]="newAlias" class="input-field" />
                </div>
                <div>
                    <label>
                        <input type="checkbox" [(ngModel)]="newIsFiscal" /> Fiscal
                    </label>
                </div>
                <button (click)="addAlias()">
                    <span class="icon">💾</span> Adicionar
                </button>
            </div>
            <div class="">
                <div class="config-item" *ngFor="let config of aliasesConfig; let i = index">
                    <p>IP: {{ config.ip }}</p>
                    <p>Alias: {{ config.alias }}</p>
                    <label>
                        <input type="checkbox" [(ngModel)]="config.is_fiscal" /> Fiscal
                    </label>
                    <button (click)="removeAlias(i)" class="delete-button">
                        <span class="icon">❌</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-7">
            <div class="add-folder">
                <h3>Adiciona pasta ao backup</h3>
                <button (click)="selectDirectory()">
                    <span class="icon">📁</span> Selecionar Pasta
                </button>
            </div>
            <div class="config-row">
                <div class="config-item" *ngFor="let config of directoriesConfig; let i = index">
                    <p>SRC: {{ config.directory }}</p>
                    <button (click)="removeDirectory(i)" class="delete-button">
                        <span class="icon">❌</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <button (click)="saveConfigurations()" class="save-config-button">
        <span class="icon">💾</span> Salvar
    </button>
</div>