@use '../../../styles' as *;

.navbar {
    background-color: $primary-color;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 180px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    img {
        margin: 20px auto;
    }
}

.navbar-nav {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .nav-item {
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        font-size: 18px;
        font-weight: 500;
        display: block;
        margin-bottom: 15px;
        .nav-link {
            color: white;
        }
        &:hover {
            background-color: $hover-color;
            color: #fff;
        }
        &.active .nav-link {
            color: black;
        }
    }
}

.footer-link {
    margin-top: auto;
}

.icon {
    font-size: 20px;
    margin: 0 auto;
}

.main-content {
    margin-left: 190px;
    padding: 10px;
}

.lock-icon {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 40px; /* Set width */
    height: 40px; /* Set height to be equal to width */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff4081; /* Attractive color */
    background-color: black; /* Background color */
    transition: color 0.3s, transform 0.3s; /* Animation for color and transform */
    &:hover {
        color: #ff80ab; /* Lighter shade on hover */
        transform: scale(1.2); /* Slightly enlarge on hover */
    }
}