<div id="bkp-local">
    <h3>Configuração do Backup Firebird</h3>
    <div>
        <label for="gbakPath">Caminho do GBAK:</label>
        <input id="gbakPath" [(ngModel)]="gbakPath" />
        <input type="file" id="fileInput" style="display: none;" (change)="onFileSelected()" #fileInput />
        <button id="selectButton" (click)="onFileSelected()">Selecionar</button>
    </div>

    <div class="user-password-container">
        <div>
            <label for="username">Usuário:</label>
            <input id="username" [(ngModel)]="username" />
        </div>
        <div>
            <label for="password">Senha:</label>
            <input id="password" type="password" [(ngModel)]="password" />
        </div>
    </div>

    <button mat-raised-button color="primary" class="save-config-button" (click)="saveConfig()">
        <mat-icon>save</mat-icon> Salvar Configuração
    </button>
</div>
