<div id="bkp-local">
    <h3>Configuração do Backup Firebird</h3>
    <div>
        <label for="gbakPath">Caminho do GBAK:</label>
        <input id="gbakPath" [(ngModel)]="gbakPath" />
        <input type="file" id="fileInput" style="display: none;" (change)="onFileSelected()" #fileInput />
        <button id="selectButton" (click)="onFileSelected()">Selecionar</button>
    </div>

    <div class="user-password-container">
        <div>
            <label for="username">Usuário:</label>
            <input id="username" [(ngModel)]="username" />
        </div>
        <div>
            <label for="password">Senha:</label>
            <input id="password" type="password" [(ngModel)]="password" />
        </div>
    </div>

    <button mat-raised-button color="primary" class="save-config-button" (click)="saveConfig()">
        <mat-icon>save</mat-icon> Salvar Configuração
    </button>
</div>

<div id="bkp-nuvem" class="row">
    <h3 class="mt-5">Backup em Nuvem</h3>
    <div class="col-6">
        <div class="switch-container m-2">
            <label class="switch">
                <input type="checkbox">
                <span class="slider"></span>
            </label>
            <label class="description">BKP em nuvem</label>
        </div>
        <div class="d-flex">
            <div class="switch-container m-2">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
                <label class="description">Sábado</label>
            </div>

            <div class="switch-container m-2">
                <label class="switch">
                    <input type="checkbox">
                    <span class="slider"></span>
                </label>
                <label class="description">Domingo</label>
            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="input-group">
            <input type="text" placeholder="CNPJ do Cliente" class="client-cnpj-input">
        </div>
        <div class="input-group">
            <input type="text" placeholder="Hash de Identificação do Cliente" class="client-hash-input">
        </div>
    </div>
</div>