<div class="add-folder">
    <h3>Origem do Backup</h3>
    <p>Adicione as pastas que deseja fazer backup</p>
    <button (click)="selectDirectory()">
        <span class="icon">📁</span> Selecionar Pasta
    </button>
</div>

<div class="config-row">
    <div class="config-item" *ngFor="let config of directoriesConfig; let i = index">
        <span> {{ config.path }}</span>
        <button (click)="removeDirectory(i)" class="delete-button">
					<span class="icon">🗑️</span>
        </button>
    </div>
</div>

<button (click)="saveDirectories()" class="save-config-button">
	<span class="icon">💾</span> Salvar
</button>