/* src/app/destino/destino.component.scss */
.backup-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.backup-settings {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.switch-container {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: 1px solid #ccc; /* Contorno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    border-radius: 5px; /* Bordas arredondadas */
    width: 200px; /* Tamanho fixo */
    height: 60px; /* Tamanho fixo */
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 10px; /* Espaço entre a chave e a descrição */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: green;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.directory-path {
    flex: 1;
    font-size: 16px;
    margin: 0;
}

.select-directory-button {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
}

.client-hash-input, .client-cnpj-input, .backup-interval-select {
    flex: 1;
    padding: 5px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.backup-interval-select {
    width: 60px;
}

.description {
    font-size: 14px;
    color: #333;
}

.save-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #28a745; /* Cor verde */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 5px; /* Espaço entre o ícone e o texto */
}

.save-button:hover {
    background-color: #218838; /* Cor verde mais escura */
}

.save-button .icon {
    font-size: 18px; /* Tamanho do ícone */
}