@use '../../../styles' as *;

.switch-container {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border: 1px solid #ccc; /* Contorno */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra leve */
    border-radius: 5px; /* Bordas arredondadas */
    width: 200px; /* Tamanho fixo */
    height: 60px; /* Tamanho fixo */

    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        margin-right: 10px; /* Espaço entre a chave e a descrição */

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: red;
            transition: .4s;
            border-radius: 34px;

            &:before {
                position: absolute;
                content: "";
                height: 26px;
                width: 26px;
                left: 4px;
                bottom: 4px;
                background-color: white;
                transition: .4s;
                border-radius: 50%;
            }
        }

        input:checked + .slider {
            background-color: green;
        }

        input:checked + .slider:before {
            transform: translateX(26px);
        }
    }
}

.save-config-button {
    @include button-styles($success-color, $success-hover-color);
    white-space: nowrap;
    background-color: $success-color;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 5px;
    transition: background-color 0.3s;
    position: fixed;
    bottom: 10px;
    right: 10px;
    &:hover {
        background-color: $success-hover-color;
    }

    .icon {
        font-size: 18px;
    }
}

.config-item {
    display: flex;
    align-items: center;
    padding: 4px;
    border: 1px solid $border-color;
    border-radius: 6px;
    margin-bottom: 8px;
    gap: 10px;
    p {
        font-size: 16px;
        margin: 0;
        flex: 1;
    }
}

.config-item button {
    @include button-styles($danger-color, $danger-hover-color);
    white-space: nowrap;
    padding: 2px 2px;
    font-size: 12px;
    border-radius: 4px;
}

.add-folder {
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.add-folder button {
    @include button-styles($secondary-color, $secondary-hover-color);
    white-space: nowrap;
}

.switch-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.directory-path {
    font-size: 16px;
    margin-top: 10px;
}