@use '../../../styles' as *;

.save-config-button {
  @include button-styles($success-color, $success-hover-color);
  white-space: nowrap;
  background-color: $success-color;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 5px;
  transition: background-color 0.3s;
  position: fixed;
  bottom: 10px;
  right: 10px;
  &:hover {
    background-color: $success-hover-color;
  }

  .icon {
    font-size: 18px;
  }
}

.config-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 8px;
  margin-bottom: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  p {
    font-size: 14px;
    margin: 0 10px 0 0;
  }

  label {
    display: flex;
    align-items: center;
    margin: 0 10px;

    input[type="checkbox"] {
      margin-right: 5px;
    }
  }

  .button-group {
    margin-left: auto;
    display: flex;
    gap: 5px;

    .edit-button,
    .delete-button {
      @include button-styles($primary-color, $hover-color);
      white-space: nowrap;
      padding: 5px 10px;
      font-size: 14px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      gap: 5px;

      .icon {
        font-size: 16px;
      }
    }

    .delete-button {
      @include button-styles($danger-color, $danger-hover-color);
    }
  }
}

.add-config {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;

  > div {
    display: flex;
    gap: 10px;
    justify-content: space-between;
  }

  label {
    margin-bottom: 0;
  }

  input {
    padding: 5px;
    border: 1px solid $border-color;
    border-radius: 4px;
  }

  button {
    @include button-styles($success-color, $success-hover-color);
    white-space: nowrap;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: $success-color;
    color: #fff;
    border: none;
    cursor: pointer;
    &:hover {
      background-color: $success-hover-color;
    }

    .icon {
      font-size: 16px;
    }
  }
}

.input-field {
  width: 100%;
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 4px;
  font-size: 16px;
}