<!-- src/app/config-bkp/config-bkp.component.html -->
<div class="backup-container">
    <div class="backup-header">Backup</div>
    <div class="backup-content">
        <p>Configure seu Backup:</p>
    </div>
</div>
<div class="config-row">
    <div *ngFor="let config of firebirdConfigs; let i = index" class="config-item">
        <p>IP: {{ config.ip }}</p>
        <p>Aliases: {{ config.alias }}</p>
        <button (click)="removeConfig(i)">Remover</button>
    </div>
</div>
<div class="add-config">
    <h3>Adicionar Aliases:</h3>
    <label for="newIp">IP:</label>
    <input id="newIp" [(ngModel)]="newIp" />
    <label for="newAlias">Alias:</label>
    <input id="newAlias" [(ngModel)]="newAlias" />
    <button (click)="addConfig()">
        <span class="icon">💾</span> Adicionar
    </button>
</div>
<div class="add-folder">
    <h3>Adicionar Pasta de Backup:</h3>
    <label for="newFolder">Pasta:</label>
    <input id="newFolder" [(ngModel)]="newFolder" />
    <button (click)="addFolder()">
        <span class="icon">📁</span> Adicionar
    </button>
</div>
<div class="save-config-container">
    <button class="save-config-button" (click)="saveConfig()">
        <span class="icon">💾</span> Salvar
    </button>
</div>
<app-menu />