@use '../../styles' as *;

body, html {
    overflow-x: hidden;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.backup-button {
    @include button-styles($primary-color, $hover-color);
    width: 90px;
    height: 90px;
    transition: transform 0.3s;

    img {
        width: 70%;
        height: 70%;
    }

    &:hover {
        transform: scale(1.1);
    }
}

.backup-container {
    h2 {
        margin-left: 20px;
    }
}

.grid_login {
    .card_login {
        width: 320px;
        height: 245px;
        padding: 20px;
        background-color: white;
        border-radius: 12px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

        a {
            display: block;
            margin-bottom: 20px;
        }

        h1 {
            font-size: 1.5rem;
            margin-bottom: 20px;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 10px;
            position: relative;

            input {
                padding: 10px 40px 10px 10px;
                border: 1px solid #ddd;
                border-radius: 20px; /* Bordas mais arredondadas */
                transition: border-color 0.3s;

                &:focus {
                    border-color: $primary-color;
                    outline: none;
                }
            }

            button {
                @include button-styles($primary-color, $hover-color);
                padding: 5px;
                border-radius: 50%;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;

                .icon {
                    font-size: 1rem;
                }
            }
        }

        p {
            margin-top: 10px;
            color: $danger-color;
        }
    }
}

.right-side {
    background-color: $primary-color;
    height: 100vh;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.card_login {
    &:hover .logo {
        animation: rotate 2s linear infinite;
    }
}