@use '../../styles' as *;

body, html {
  overflow-x: hidden;
}

.row {
  margin-right: 0;
  margin-left: 0;
  h1 {
    font-size: 3.6rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.5);
  }
}
.grid_buttons{
  background: $primary-color;
}

.backup-button {
  @include button-styles($border-color, $hover-color);
  width: 90px;
  height: 90px;
  transition: transform 0.3s;

  img {
    width: 70%;
    height: 70%;
  }

  &:hover {
    transform: scale(1.05);
  }
}

.grid_login {
  .top-section {
    border-radius: 12px;
    h2 {
      font-weight: 700;
      font-size: 3.4rem;
      margin-bottom: 10px;
      color: red;
      text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
    }
    h3 {
      font-weight: 700;
      font-size: 2.6rem;
      margin-bottom: 30px;
      color: red;
      text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.3);
    }
    p {
      font-size: 1.2rem;
      margin-bottom: 6px;
      font-weight: 600;
    }
  }
}

.card_login {
  position: absolute;
  bottom: 0;
  right: 10px;
  width: 180px;
  height: 80px;
  padding: 6px;
  border-radius: 12px;
  margin: auto;
  transition: transform 0.3s, box-shadow 0.3s;

  &:hover {
    transform: translateY(-5px);
  }


  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;

    input {
      padding: 10px 40px 10px 10px;
      border: 1px solid #ddd;
      border-radius: 20px; /* Bordas mais arredondadas */
      transition: border-color 0.3s;

      &:focus {
        border-color: $primary-color;
        outline: none;
      }
    }

    button {
      @include button-styles($primary-color, $hover-color);
      padding: 5px;
      border-radius: 50%;
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        font-size: 1rem;
      }
    }
  }
}

.right-side {
  height: 100vh;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card_login {
  &:hover .logo {
    animation: rotate 2s linear infinite;
  }
}