<div class="row">
	<div class="col-9 text-center grid_login right-side pt-4">
		<a href="https://tauri.app" target="_blank">
			<img src="/assets/logo.jpg" class="logo" alt="Tauri logo" width="100"/>
		</a>
		<h1 class="mt-2">Maximus Automação</h1>
		
		<div class="top-section p-3">
			<h2>ATENÇÃO!</h2>
			<div class="text-start">
			<h3>Faça seus backups regularmente!</h3>
				<p>
					Nosso aplicativo disponibiliza ferramentas para auxiliar na realização de backups, porém a responsabilidade pela
					execução e manutenção dos mesmos é inteiramente do cliente Maximus.
				</p>
				
				<p>
					Não nos responsabilizamos por eventuais perdas de dados causadas pela ausência de backups adequados.
				</p>
				
				<p>
					Para maior segurança e tranquilidade, recomendamos nossa solução de backup em nuvem.
				</p>
				
				<p class="mt-3">
					Entre em contato com nosso suporte para duvidas ou mais informações.
				</p>
			</div>
			
		</div>
	</div>
	<div class="col-3 grid_buttons">
		
		<div class="d-grid flex-column mt-5 text-center">
			<div class="mt-4">
				<button class="backup-button" (click)="backupNow()">
					<img src="/assets/bkpbtn.ico" alt="Backup Icon"/>
				</button>
				<h2 class="mb-1">Fazer Backup</h2>
			</div>
			
			<div class="mt-4">
				<button class="backup-button">
					<img src="/assets/bkpbtn.ico" alt="Backup Icon"/>
				</button>
				<h2 class="mb-1">Tutoriais</h2>
			</div>
			
			<div class="mt-4">
				<button class="backup-button">
					<img src="/assets/bkpbtn.ico" alt="Backup Icon"/>
				</button>
				<h2 class="mb-1">Supporte</h2>
			</div>
		</div>
		
		<div class="card_login">
			<form class="row" (submit)="accessPanel($event, passwordInput.value)">
				<input #passwordInput id="password-input" type="password" placeholder="Senha do dia"/>
				<button type="submit">
					<span class="icon">🔒</span>
				</button>
			</form>
		</div>
	</div>
</div>